<h1>Date Range</h1>
<app-date-range></app-date-range>
<h1>Date with min and max</h1>
<app-current-day></app-current-day>
<h1>Date with month and year</h1>
<app-month-year></app-month-year>
<h1>Date</h1>
<app-date></app-date>
<h1>FAB type button with dialog</h1>
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" (click)="openDialog()" class="font">
          +
        </button>
      </div>
    </div>
  </div>
  <p *ngIf="userName">Name entered: {{ userName }}</p>
</section>
<h1>Table</h1>
<app-table></app-table>
<h1>Stepper</h1>
<app-stepper></app-stepper>
<div class="space"></div>
